@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body{
    overflow: hidden;
    background:#554c4c ;
    color: #FFF;
    font-family: sans-serif;      
    font-size: 2em;
    text-align: center;
}

canvas {
  position: center;
  border: solid 0.1em #ffffff;
  width: 100%;
  height: 100%;
  left: 0;
  margin-top: 80px;
}

.score {
  position: absolute;
  top: 15px;
  left: 20px;
  text-align: center;
  font-size: var(--font-size);
  font-family: 'Comfortaa', bold;
  font-weight: bolder;
}

.high-score {
  position: absolute;
  top: 15px;
  right: 20px;

  font-size: var(--font-size);

  font-family: 'Comfortaa', bold;
  font-weight: bolder;
}

.game-over {
  width: auto;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.85);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: var(--game-clear-msg-font);
  color: rgb(255, 255, 255);
  font-family: 'Comfortaa', bold;

  border: 2px solid rgb(0, 255, 255);
}
.message {
  font-weight: bolder;
}
.game-over-score {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--game-clear-score-padding) 0;
  font-size: var(--game-clear-score-msg-font);
}
.play-again {
  background-color: rgb(17, 170, 25);
  color: rgb(201, 255, 203);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  font-size: var(--btn-font-size);
  border-radius: 0.75rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.play-again:hover {
  padding: 1rem 2rem;
  background-color: rgb(23, 214, 33);
  color: rgb(254, 254, 254);
}

.BacktoHome {
  background-color: rgb(255, 128, 0);
  color: rgb(252, 208, 163);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  font-size: var(--btn-font-size);
  border-radius: 0.75rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.BacktoHome:hover {
  padding: 1rem 2rem;
  background-color: rgb(255, 163, 70);
  ;
  color: rgb(254, 254, 254);
}

.hide {
  visibility: hidden;
}

.deleteEvent {
display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
  font-size: var(--btn-font-size);
	width:100%;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid rgb(135, 59, 235);
	background: rgb(135, 59, 235);
	color: #fff;
	border-radius: 5px;
	transition: 0.5s;
	animation: move_d 2s infinite;
	box-shadow: 0 5px 0 rgba(64, 164, 41,0);
	position: relative;
}
@keyframes move_d {
    0% {box-shadow: 0 5px 0 rgba(64, 164, 41,0); top: 0px;}
    10% {box-shadow: 0 0 0 rgba(64, 164, 41,0); top: 5px;}
    20% {box-shadow: 0 5px 0 rgba(64, 164, 41,0); top: 0px;}
    30% {box-shadow: 0 0 0 rgba(64, 164, 41,0); top: 5px;}
    40% {box-shadow: 0 5px 0 rgba(64, 164, 41,0); top: 0px;}
}

.deleteEvent:hover {
  color: rgb(135, 59, 235);
	background: #fff;
	border: 2px solid rgba(64, 164, 41,0);
}

#TimeDisplay{
  position: absolute;
  top: 60px;
  margin-left: 13px;
  font-size: 20px;
  font-family: 'Comfortaa', bold;
}

button {
  margin-top: 10px;
  padding: 20px 0;
  font-size: 15px;
  display: inline-block;
  padding: .8rem 1.6rem;
  border: none;
  color: #FFF;
  background-color: #8b57df;
  border-radius: 15px;
  font-family: 'Comfortaa', bold;
}
button:hover {
  cursor: pointer;
  background-color: #ab85e8;
}
button:disabled {
  cursor: default;
  background-color: #8b57df60;
}

